<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>GateKeeper</title>
    <link rel="icon" href="/assets/favicon.ico">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="module">
        import { Authorise } from "/assets/js-modules/main.js";
        Authorise();
        Request("GET", "/api/version").then((res)=>{
            document.getElementById("version").innerHTML = "version: " + res;
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="/assets/favicon.ico" height="24" />
            <a class="navbar-brand" href="#">GateKeeper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="home" class="nav-link" aria-current="page" href="/page/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="dhcp" class="nav-link active" aria-current="page" href="/page/dhcp">DHCP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="root" class="container text-center">
        <div class="row">
            <div id="header">
                <h1>GateKeeper</h1>
            </div>
            <div id="content">

                <div id="reserved-content" class="row">
                    <h2>DHCP Information</h2>
                    <h3>Reserved Leases</h3>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Hostname</th>
                                <th scope="col">IP Address</th>
                                <th scope="col">Expires At</th>
                                <th scope="col">Mac Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .ReservedLeases}}<tr>
                                <td>{{.Hostname}}</td>
                                <td>{{.IP}}</td>
                                <td>{{Format .Expiry}}</td>
                                <td>{{.ClientId}}</td>
                            </tr>{{end}}
                    </table>
                </div>
                {{ $length := len .ActiveLeases }}{{if gt $length 0 }}<div id="active-content" class="container">
                    <h3>Active Leases</h3>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Hostname</th>
                                <th scope="col">IP Address</th>
                                <th scope="col">Expires At</th>
                                <th scope="col">Mac Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .ActiveLeases}}<tr>
                                <td>{{.Hostname}}</td>
                                <td>{{.IP}}</td>
                                <td>{{Format .Expiry}}</td>
                                <td>{{.ClientId}}</td>
                            </tr>{{end}}
                    </table>
                </div>{{end}}
                <div id="options" class="container">
                    <h2>Options</h2>
                    <table class="table text-center">
                        <tr>
                            <td>DomainName</td>
                            <td>{{.DomainName}}</td>
                        </tr>
                        <tr>
                            <td>Assignable Range</td>
                            <td>{{.Start}} - {{.End}}</td>
                        </tr>
                        <tr>
                            <td>Nameservers</td>
                            <td>{{range .Nameservers}}{{.}} {{end}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="version" class="text-center"></div>
</body>

</html>