<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>GateKeeper</title>
    <link rel="icon" href="/assets/favicon.ico">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="module">
        import { Authorise } from "/assets/js-modules/main.js";
        Authorise();
        Request("GET", "/api/version").then((res)=>{
            document.getElementById("version").innerHTML = "version: " + res;
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="/assets/favicon.ico" height="24" />
            <a class="navbar-brand" href="#">GateKeeper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="home" class="nav-link active" aria-current="page" href="/page/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="dhcp" class="nav-link" aria-current="page" href="/page/dhcp">DHCP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="root" class="container text-center">
        <div class="row">
            <div id="header">
                <h1>GateKeeper</h1>
            </div>
            <div id="content">

                <div id="system-content" class="row">
                    <h2>System Information</h2>
                    <table class="table text-center">
                        <tbody>
                            {{range $key, $value := . }}<tr>
                                <td>{{$key}}</td>
                                <td>{{$value}}</td>
                            </tr>{{end}}
                    </table>
                </div>
            </div>
        </div>
        <div id="version" class="text-center"></div>
    </div>
</body>

</html>